ext/wix/doc/thmutil.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
          xmlns:xse="http://schemas.microsoft.com/wix/2005/XmlSchemaExtension"
         xmlns:html="http://www.w3.org/1999/xhtml"
    targetNamespace="http://wixtoolset.org/schemas/thmutil/2010"
              xmlns="http://wixtoolset.org/schemas/thmutil/2010">
    <xs:annotation>
        <xs:documentation>
            Copyright (c) Microsoft Corporation.  All rights reserved.
            
            The use and distribution terms for this software are covered by the
            Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
            which can be found in the file CPL.TXT at the root of this distribution.
            By using this software in any fashion, you are agreeing to be bound by
            the terms of this license.
            
            You must not remove this notice, or any other, from this software.

            Schema for describing Theme files processsed by thmutil.
        </xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://www.w3.org/1999/xhtml" />

    <xs:element name="Theme">
        <xs:annotation><xs:documentation>
        </xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="Window" />
                <xs:element ref="Font" />
                <xs:element ref="ImageList" />
                <xs:element ref="Page" />
            </xs:choice>
            <xs:attribute name="ImageFile" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Relative path to an image file that can serve as a single source for images in the rest of the
                    theme. This image is referenced by controls using the SourceX and SourceY attributes.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="Window">
        <xs:annotation>
            <xs:documentation>Defines the overall look of the main window.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:annotation>
                        <xs:documentation>Caption for the window.</xs:documentation>
                    </xs:annotation>
                    <xs:attribute name="FontId" type="xs:nonNegativeInteger">
                        <xs:annotation>
                            <xs:documentation>Numeric identifier to the Font element that serves as the default font for the window.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Height" type="xs:positiveInteger">
                        <xs:annotation>
                            <xs:documentation>Height of the window.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="HexStyle" type="xs:hexBinary">
                        <xs:annotation>
                            <xs:documentation>Hexadecimal window style. If this is not specified the default value is: WS_OVERLAPPED | WS_VISIBLE | WS_MINIMIZEBOX | WS_SYSMENU.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="IconFile" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Relative path to an icon file for the window. Mutually exclusive with IconResource and SourceX and SourceY attributes.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="IconResource" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Identifier that references icon resource in the module for the window. Mutually exclusive with IconFile and SourceX and SourceY attributes.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="SourceX" type="xs:nonNegativeInteger">
                        <xs:annotation>
                            <xs:documentation>X offset of the window background in the Theme/@ImageFile. Mutually exclusive with IconFile and IconResource.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="SourceY" type="xs:nonNegativeInteger">
                        <xs:annotation>
                            <xs:documentation>Y offset of the window background in the Theme/@ImageFile. Mutually exclusive with IconFile and IconResource.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Width" type="xs:positiveInteger">
                        <xs:annotation><xs:documentation>Width of the window.</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Font">
        <xs:annotation>
            <xs:documentation>Defines a font including the size and color.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:annotation>
                        <xs:documentation>Name of the font face.</xs:documentation>
                    </xs:annotation>
                    <xs:attribute name="Id" type="xs:nonNegativeInteger">
                        <xs:annotation>
                            <xs:documentation>Numeric identifier for the font. Due to limitations in thmutil the first Font must start with "0" and each subsequent Font must increment the Id by 1. Failure to ensure the Font identifiers follow this strict ordering will create unexpected behavior or including crashes.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Height" type="xs:int">
                        <xs:annotation>
                            <xs:documentation>Font size. Use negative numbers to specify the font in pixels.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Weight" type="xs:nonNegativeInteger">
                        <xs:annotation>
                            <xs:documentation>Font weight.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Foreground" type="xs:hexBinary">
                        <xs:annotation>
                            <xs:documentation>Hexadecimal value representing BGR foreground color of the font. "ffffff" is white, "ff0000" is pure blue, "00ff00" is pure green, "0000ff" is pure red and "000000" is black. If this value is absent the foreground will be transparent.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Background" type="xs:hexBinary">
                        <xs:annotation>
                            <xs:documentation>Hexadecimal value representing BGR background color of the font. "ffffff" is white, "ff0000" is pure blue, "00ff00" is pure green, "0000ff" is pure red and "000000" is black. If this value is absent the background will be transparent.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Underline" type="YesNoType">
                        <xs:annotation>
                            <xs:documentation>Specifies whether the font is underlined.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ImageList">
        <xs:annotation>
            <xs:documentation>List of images which can be shared between multiple controls.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="Image" />
            </xs:choice>
            <xs:attribute name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Name of the ImageList, to be referenced by other controls.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="Page">
        <xs:annotation>
            <xs:documentation>Named set of controls that can be shown and hidden collectively.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="Billboard" />
                <xs:element ref="Button" />
                <xs:element ref="Checkbox" />
                <xs:element ref="Editbox" />
                <xs:element ref="Hyperlink" />
                <xs:element ref="Hypertext" />
                <xs:element ref="ListView" />
                <xs:element ref="Image" />
                <xs:element ref="Progressbar" />
                <xs:element ref="Richedit" />
                <xs:element ref="Static" />
                <xs:element ref="Text" />
            </xs:choice>
            <xs:attribute name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Relative path to an image file that can serve as a single source for images in the rest of the
                        theme. This image is referenced by controls using the SourceX and SourceY attributes.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:attributeGroup name="CommonControlAttributes">
        <xs:attribute name="Name" type="xs:string">
            <xs:annotation>
                <xs:documentation>Optional name for the control.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Height" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Height of the control. Non-positive values extend the control to the bottom of the window minus the value.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="HexStyle" type="xs:hexBinary">
            <xs:annotation>
                <xs:documentation>Hexadecimal window style for the control.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="HideWhenDisabled" type="YesNoType">
            <xs:annotation>
                <xs:documentation>Specifies whether the control should be hidden when disabled.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TabStop" type="YesNoType">
            <xs:annotation>
                <xs:documentation>Specifies whether the control is part of the tab sequence of controls.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Visible" type="YesNoType">
            <xs:annotation>
                <xs:documentation>Specifies whether the control is initially visible.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Width" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Width of the control. Non-positive values extend the control to the right of the window minus the value.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="X" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>X coordinate for the control from the left of the window. Negative values are coordinates from the right of the window minus the width of the control.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Y" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Y coordinate for the control from the top of the window. Negative values are coordinates from the bottom of the window minus the height of the control.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:element name="Billboard">
        <xs:annotation>
            <xs:documentation>Defines a control that rotates through a set of images on a specfied interval.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Image" />
            </xs:sequence>

            <xs:attributeGroup ref="CommonControlAttributes" />
            <xs:attribute name="Interval" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Loop" type="YesNoType">
                <xs:annotation>
                    <xs:documentation>Specifies whether the billboard should loop through the images infinitely.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="Button">
        <xs:annotation>
            <xs:documentation>Defines a button.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:annotation>
                        <xs:documentation>Text to display in the button.</xs:documentation>
                    </xs:annotation>
                    <xs:attributeGroup ref="CommonControlAttributes" />
                    <xs:attribute name="FontId" type="xs:nonNegativeInteger" use="required">
                        <xs:annotation>
                            <xs:documentation>Numeric identifier to the Font element that serves as the font for the control.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ImageFile" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Relative path to an image file to define an graphic button. The image must be 3x the height to represent the button in 3 states: unselected, hover, selected. Mutually exclusive with ImageResource and SourceX and SourceY attributes.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ImageResource" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Identifier that references image resource in the module for the control. The image must be 3x the height to represent the button in 3 states: unselected, hover, selected. Mutually exclusive with ImageFile and SourceX and SourceY attributes.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Checkbox">
        <xs:annotation>
            <xs:documentation>Defines a checkbox.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:annotation>
                        <xs:documentation>Text to display beside the checkbox.</xs:documentation>
                    </xs:annotation>
                    <xs:attributeGroup ref="CommonControlAttributes" />
                    <xs:attribute name="FontId" type="xs:nonNegativeInteger" use="required">
                        <xs:annotation>
                            <xs:documentation>Numeric identifier to the Font element that serves as the font for the control.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Editbox">
        <xs:annotation>
            <xs:documentation>Defines an edit box.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="CommonControlAttributes" />
            <xs:attribute name="FileSystemAutoComplete" type="YesNoType">
                <xs:annotation>
                    <xs:documentation>Specifies whether the edit box should auto-complete with file system paths.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="FontId" type="xs:nonNegativeInteger" use="required">
                <xs:annotation>
                    <xs:documentation>Numeric identifier to the Font element that serves as the font for the control.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="Hyperlink">
        <xs:annotation>
            <xs:documentation>Defines a hyperlink.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:annotation>
                        <xs:documentation>Text to display as the link.</xs:documentation>
                    </xs:annotation>
                    <xs:attributeGroup ref="CommonControlAttributes" />
                    <xs:attribute name="FontId" type="xs:nonNegativeInteger" use="required">
                        <xs:annotation>
                            <xs:documentation>Numeric identifier to the Font element that serves as the unselected font.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="HoverFontId" type="xs:nonNegativeInteger" use="required">
                        <xs:annotation>
                            <xs:documentation>Numeric identifier to the Font element that serves as the font when the control is hovered over.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="SelectedFontId" type="xs:nonNegativeInteger" use="required">
                        <xs:annotation>
                            <xs:documentation>Numeric identifier to the Font element that serves as the font when the control is selected.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Hypertext">
        <xs:annotation>
            <xs:documentation>Defines a text block with support for HTML &lt;a&gt; tags.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:annotation>
                        <xs:documentation>Text to display as the link. Use HTML &lt;a href="URL"&gt; to create a link.</xs:documentation>
                    </xs:annotation>
                    <xs:attributeGroup ref="CommonControlAttributes" />
                    <xs:attribute name="FontId" type="xs:nonNegativeInteger" use="required">
                        <xs:annotation>
                            <xs:documentation>Numeric identifier to the Font element that serves as the unselected font.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Image">
        <xs:annotation>
            <xs:documentation>Defines an image.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="CommonControlAttributes" />
            <xs:attribute name="ImageFile" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Relative path to an image file. Mutually exclusive with ImageResource and SourceX and SourceY attributes.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ImageResource" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Identifier that references image resource in the module. Mutually exclusive with ImageFile and SourceX and SourceY attributes.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="ListView">
        <xs:annotation>
            <xs:documentation>Defines a listview.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="CommonControlAttributes" />
                    <xs:attribute name="HexExtendedStyle" type="xs:hexBinary">
                        <xs:annotation>
                            <xs:documentation>Hexadecimal extended window style.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ImageList" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The name of the Image List to assign to this listview with type LVSIL_NORMAL.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ImageListSmall" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The name of the Image List to assign to this listview with type LVSIL_SMALL.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ImageListState" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The name of the Image List to assign to this listview with type LVSIL_STATE.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ImageListGroupHeader" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The name of the Image List to assign to this listview with type LVSIL_GROUPHEADER.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Progressbar">
        <xs:annotation>
            <xs:documentation>Defines a progressbar.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="CommonControlAttributes" />
            <xs:attribute name="ImageFile" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Relative path to an image file for the control. The image must be 4 pixels wide: left pixel is the left side of progress bar, left middle pixel is progress used, right middle pixel is progress unused, right pixel is right side of progress bar. Mutually exclusive with ImageResource and SourceX and SourceY attributes.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ImageResource" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Identifier that references image resource in the module for the control. The image must be 4 pixels wide: left pixel is the left side of progress bar, left middle pixel is progress used, right middle pixel is progress unused, right pixel is right side of progress bar. Mutually exclusive with ImageFile and SourceX and SourceY attributes.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="Richedit">
        <xs:annotation>
            <xs:documentation>Defines a rich edit control.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="CommonControlAttributes" />
            <xs:attribute name="FontId" type="xs:nonNegativeInteger" use="required">
                <xs:annotation>
                    <xs:documentation>Numeric identifier to the Font element that serves as the font for the control.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="Static">
        <xs:annotation>
            <xs:documentation>Defines a straight line.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="CommonControlAttributes" />
        </xs:complexType>
    </xs:element>

    <xs:element name="Text">
        <xs:annotation>
            <xs:documentation>Defines text.</xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Page" />
                <xse:parent namespace="http://wixtoolset.org/schemas/thmutil/2010" ref="Theme" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:annotation>
                        <xs:documentation>Text to display.</xs:documentation>
                    </xs:annotation>
                    <xs:attributeGroup ref="CommonControlAttributes" />
                    <xs:attribute name="Center" type="YesNoType" use="optional">
                        <xs:annotation>
                            <xs:documentation>Specifies the text should be centered horizontally in the width of the control. Default is "no".</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="FontId" type="xs:nonNegativeInteger" use="required">
                        <xs:annotation>
                            <xs:documentation>Numeric identifier to the Font element that serves as the font for the control.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="YesNoType">
        <xs:annotation><xs:documentation>Values of this type will either be "yes" or "no".</xs:documentation></xs:annotation>
        <xs:restriction base='xs:NMTOKEN'>
            <xs:enumeration value="no"/>
            <xs:enumeration value="yes"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
